@font-face {
  font-family: gill;
  font-display: "swap";
  src: url(../fonts/GillSansStd/GillSansStd.otf);
}

@font-face {
  font-family: gill_lightshadowed;
  font-display: "swap";
  src: url(../fonts/GillSansStd/GillSansStd-LightShadowed.otf);
}

@font-face {
  font-family: gill_lightitalic;
  font-display: "swap";
  src: url(../fonts/GillSansStd/GillSansStd-LightItalic.otf);
}

@font-face {
  font-family: gill_bold;
  font-display: "swap";
  src: url(../fonts/gillSans_bold.TTF);
}

@font-face {
  font-family: gill_italic;
  font-display: "swap";
  src: url(../fonts/gillSans_italic.TTF);
}

@font-face {
  font-family: joanna;
  font-display: "swap";
  src: url(../fonts/JoannaMTStd/JoannaMTStd.otf);
}

@font-face {
  font-family: joanna_semibold;
  font-display: "swap";
  src: url(../fonts/JoannaMTStd/JoannaMTStd-SemiBold.otf);
}

@font-face {
  font-family: joanna_extrabold;
  font-display: "swap";
  src: url(../fonts/JoannaMTStd/JoannaMTStd-ExtraBold.otf);
}
