{% extends "layout.html" %} {%block content%}

<div class="main-container eva-container padding-inline marginTop">
  <h1>Hier neues Passwort anfordern</h1>

  <div class="eva-login">
    <form accept-charset="UTF-8" method="post" class="form-group">
      <input type="hidden" name="_csrf" value="{{ form._csrf }}" />

 

      <label for="email">E-Mail</label>

      {% if errors.email %}
      <p class="Form-error">{{errors.email}}</p>
      {% endif %}
      <input
        type="text"
        autocorrect="off"
        autocapitalize="none"
        name="email"
        placeholder="E-Mail"
        maxlength="20"
        value="{{form.email}}"
        id="email"
      />

     
      <button type="submit" class="reg-button">Neues Passwort anfordern</button>
    </form>

    <p class="Form-error">{{success}}</p>
  </div>
</div>
{%endblock%}
